input.run, input.reset {
    width: 50%;
    height: 30px;
}
table.container {
    border-style: ridge;
    margin: 10px;
}
td {
    vertical-align: middle;
    padding: 5px 20px;
}
.icon {
    width: 24px;
}
.display{
    font-size: 50px;
}
.alert{
    color: color-mix(in srgb, CanvasText, #FF0000 50%);
}
.pause{
    color: color-mix(in srgb, CanvasText, #FFFF00 50%);
}
.alert.pause{
    color: color-mix(in srgb, CanvasText, #FF7700 50%);
}
.flex{
    display: flex;
}

